<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="filterTrendings($event)" placeholder="Search trendings ..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="refreshTrendings($event)">
    <ion-refresher-content pullingIcon="arrow-down" refreshingSpinner="bubbles" pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header>Movies and TV shows on trending</ion-list-header>
    <ion-card *ngFor="let trending of filteredTrendings">
      <img [src]="'https://image.tmdb.org/t/p/w500' + trending.poster_path" alt="movie poster" />
      <ion-card-header>
        <ion-card-title>{{ trending.name || trending.title }}</ion-card-title>
        <ion-card-subtitle>⭐ {{ trending.vote_average }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>